<%- include("./partials/header")%>

<div>
<br>
<%if(data===undefined){%>
	<p class="text-danger">Search box cannot be empty!</p>
<%}else{%>
	<%if(data.length===0){%>
		<p class="text-danger">No results found!</p>
	<%}else{%>
		<!--Gets  a list of all parameters-->
		<%let parameters=[];%>
		<%data.forEach((item)=>{%>
			<%for(key in item){%>
				<%if(parameters.includes(key)){%>
					<%continue;%>
				<%} else {%>
					<%parameters.push(key);%>
				<%}%>
			<%}%>
		<%})%>

		<p class="text muted">Retrieved <strong><%=data.length%></strong> items</p>
		<!--Makes the tables-->
		<table class="table table-hover">
			<tr class="table-primary">
			<%for(k in parameters){%>
				<th><%=parameters[k]%></th>
			<%}%>
			</tr>
			<%data.forEach((item)=>{%>
				<tr class="table-dark">
				<%for(p in parameters){%>
					<td><%=item[parameters[p]]%></td>
				<%}%>
				</tr>
			<%})%>
		</table>

	<%}%>
<%}%>
</div>

<%- include('./partials/footer')%>
